<div class="col-span-3 bg-[#0f3460]">
<section class="mb-10">
    <h1 class="text-center text-3xl text-[#E5E5E5] mt-10 mb-2">出すあてのないメールを打つクセがついたのは、いつからだろう。</h1>
    <h2 class="text-center text-xl text-[#E5E5E5] mb-5">「秒速5センチメートル　コスモナウト」より</h2>
    <img src="/assets/5CentimetersPerSecond.png" alt="秒速5センチメートルより、貴樹がメールを打つシーン">
    <span class="text-sm text-[#E5E5E5]">©Makoto Shinkai / CoMix Wave Films</span>
</section>
<div class="flex justify-center mb-10">
    <%= link_to "メッセージを書く", new_message_path, class: "text-center text-2xl font-bold border-2 rounded-lg bg-[#E5E5E5] px-10 py-5 mb-2" %>
</div>
<section>
    <h2 class="text-3xl font-bold mb-4 text-[#E5E5E5]">宇宙船「Epistolam ad Astra」へようこそ</h2>
</section>
<section class="mb-10">
    <h2 class="text-2xl font-semibold mb-4 text-[#E5E5E5]">閉じたままの手紙を、遠い宇宙へ。</h2>
    <p class="text-[#E5E5E5]">「Epistolam ad Astra」は、かけがえのない思い出、届けられなかった想い、そして静かに秘めた感謝を、デジタル宇宙の彼方へと送り出すための宇宙船（プラットフォーム）です。</p>
    <p class="mt-2 text-[#E5E5E5]">あて先はないけれど、心の中のメッセージを宇宙の彼方へと放つ。そんな旅に、あなたも出発しませんか？</p>
</section>

    <section class="mb-10">
        <h3 class="text-xl font-semibold mb-4 text-[#E5E5E5]">伝えたいあなたへ</h3>
        <ul class="list-none ml-6 text-[#E5E5E5]">
            <li class="text-[#E5E5E5]">あの人に届けたかった、でも届かなかったメッセージを送信。</li>
            <li class="text-[#E5E5E5]">「このメッセージは秘密にして」を選べば、あなたの思いは静かに宇宙を漂います。</li>
        </ul>
    </section>

    <section class="mb-10">
        <h3 class="text-xl font-semibold mb-4 text-[#E5E5E5]">読みたいあなたへ</h3>
        <ul class="list-none ml-6 text-[#E5E5E5]">
            <li class="text-[#E5E5E5]">宇宙船に届いた様々なメッセージをランダムに読むことができます。</li>
            <li class="text-[#E5E5E5]">たまには、誰かのメッセージに耳を傾けてみませんか？</li>
        </ul>
    </section>

    <footer class="text-center p-4">
        <p class="text-[#E5E5E5]">Epistolam ad Astraは、あなたが宇宙に放つ一通の手紙を、永遠の星にします。</p>
    </footer>
</section>
</div>
